---
import { getCollection } from "astro:content";
import Modal from "../modal/Modal.component";
import Items from "./items.component";
import NavMenu from "./NavMenu.component.astro";
import { type menu } from "./items.component";
import type { late } from "astro:schema";

interface propsItems {
    data: menu;
}

const _menu = (await getCollection("menu")) as unknown as [
    { data: [menu] },
];
---

<div
    class="w-full flex-col items-center "
    id="menu"
>
    <slot />
    <Items items={_menu[0].data} client:visible />
</div>
