---
import { ShoppingCarIcon, WhatsappIcon } from "../icons.components";
import { Slider } from "./Slider.component";
---

<header class="w-full h-fit relative">
    <nav class="w-full h-34 grid grid-cols-2 items-center place-content-center">
        <img
            src="https://d28f3w0x9i80nq.cloudfront.net/restaurantImages/4228bcfa-1507-4e7e-a55b-c67a880f53a0/logonobg.png"
            class="w-20 h-20"
            fetchpriority="high"
            alt="Logo Divina Gracia"
        />
        <a
            href="https://order.toasttab.com/online/divina-gracia-cocina-artesanal-46-center-grove-rd-u-213"
            class="text-[#ede6ce] rounded-lg w-[175px] h-[52px] tablet:shadow-lg bg-[#204035] place-self-end self-center flex items-center font-light justify-center gap-3 z-20"
            >Order now
            <ShoppingCarIcon />
        </a>
    </nav>

    <div
        class="w-[30%] absolute bottom-[-20%] z-0 hidden laptop-lg:block animate-show-up"
    >
        <img
            class="w-full"
            src="https://d28f3w0x9i80nq.cloudfront.net/restaurantImages/4228bcfa-1507-4e7e-a55b-c67a880f53a0/hongoswebamericana.png"
            fetchpriority="high"
            alt="Cheese Burger"
        />
    </div>

    <div
        class="flex phone:flex-wrap laptop-sm:flex-nowrap phone:justify-center phone:items-center laptop-sm:items-start"
    >
        <div class="relative flex flex-col items-center tablet-sm:block">
            <p
                class="hero phone:text-[4.5rem] tablet-sm:text-[6rem] text-[#204035] tablet:text-start phone:text-center"
            >
                Burgers
            </p>
            <p
                class="titlep phone:text-2xl tablet:text-start phone:text-center mb-10 text-[#204035] z-10 w-full laptop-sm:w-[70%] laptop-sm:text-3xl"
            >
                made with 100% grass-fed, grass-finished beef, responsibly
                sourced from local farms like Beaver Brook Ranch, supporting our
                community while delivering unmatched freshness.
            </p>
            <div
                class="flex tablet:justify-start tablet-sm:justify-center gap-5 z-10"
            >
                <a
                    href="/menu"
                    class="bg-[#b4945a] rounded-lg w-[145px] h-[52px] p-3 tablet:shadow-lg text-[#204035] font-light flex items-center justify-center"
                    >See our menu</a
                >
                <a
                    href="http://wa.me/18622203363"
                    class="text-[#ede6ce] rounded-lg w-[175px] h-[52px] tablet:shadow-lg bg-[#204035] flex items-center font-light justify-center gap-3 z-20"
                    >Get in touch
                    <WhatsappIcon />
                </a>
            </div>
        </div>

        <div class="w-full">
            <div class="w-full flex items-center flex-col">
                <!-- <Slider client:visible /> -->
                <img
                    class="w-full max-laptop-sm:w-100"
                    src="https://d28f3w0x9i80nq.cloudfront.net/restaurantImages/4228bcfa-1507-4e7e-a55b-c67a880f53a0/baconamericana.jpg"
                    loading="lazy"
                    alt="Burger"
                />
            </div>
        </div>
    </div>
</header>
