<section class="phone:w-full tablet-sm:w-2/4 flex flex-col gap-5 font-light text-lg pt-10">
    <h1 class="hero phone:text-[4.5rem] tablet-sm:text-[6rem] text-[#204035] tablet:text-start phone:text-center">Our Story</h1>
  <p>
Divina Gracia began with two young entrepreneurs searching for purpose—who discovered it in creating truly artisanal food—crafted with intention, integrity, and excellence.

  </p>
  <p>
From the beginning, our mission has been simple: to offer food of the highest quality while avoiding unnecessary chemicals, preservatives, and artificial ingredients. What started as a passion quickly became a pursuit of perfection.

  </p>
  <p>
That pursuit led us to refine every detail of our burgers—from baking our own brioche buns to carefully selecting our beef. Today, we proudly use 100% organic, grass-fed, grass-finished chuck roast, ensuring every bite reflects our commitment to purity and quality.

  </p>
  <p>
Our faith in God is the foundation of everything we do. It guides our decisions and inspires us to create food that is natural, honest, and made with love and excellence.

  </p>
  <p>
Divina Gracia is our story—shared through every burger we serve.

  </p>
</section>





