<section class="phone:w-full tablet-sm:w-2/4 flex flex-col gap-10 font-light text-lg">
    <p>
        Divina Gracia was born like that blink of an eye when night turns into
        day and the sun rises. Two young immigrants, God-fearing and seeking His
        revelation about our purpose and life project, one day received the
        answer to that question that, for many, marks the beginning of a new
        stage in life. The answer was to use the qualities, talents, and
        attributes that God had given us.
    </p>
    <p>
        Mariana and Kelvin, founders of Divina Gracia Cocina Artesanal,
        discovered our passion for creating 100% artisanal products for our
        community. This led us to develop our famous burgers, crafted step by
        step with care so that every flavor complements the other to perfection.
    </p>
    <p>
        Since May 2024, we have been dedicated to preparing burgers you can
        enjoy at home in the areas of Kenvil, Dover, and surrounding towns in
        Morris County, New Jersey. In addition, we are motivated by the creation
        of new products currently in development, to offer you a greater variety
        with the same quality and excellence that define us.
    </p>
    <p>
        We believe in the power of handmade foods, like in ancient times; we
        believe in the positive impact it has on our physical health when we eat
        foods that are not ultra-processed with endless lists of ingredients.
    </p>
    <p class="mb-20">
        We are driven by the passion for artisanal work, and by the joy of
        seeing a happy customer who can enjoy our products with a partner, with
        family, with friends, or even in their own company.
    </p>
</section>
