---
import Hero from "../components/hero/Hero.component.astro";
import Layout from "../layouts/Layout.astro";
import VideoThumb from "../components/VideoThumb.component.astro";
import Footer from "../components/footer/Footer.component.astro";
import Sourdough from "../components/sourdough/SourdoughBread.component.astro";
import Story from "../components/story/Story.component.astro";
import Breads from "../components/Breads.components.astro";
---

<Layout>
	<main class="w-full h-full relative phone:px-1 tablet:px-14">
		<Hero />
		<VideoThumb />
		<Sourdough />
	</main>
	<Breads />

	<Footer />
</Layout>