---
import Hero from "../components/Hero.component.astro";
import Menu from "../components/menu/Menu.component.astro";
import NavMenu from "../components/menu/NavMenu.component.astro";
import TopNav from "../components/TopNav.component.astro";
import Layout from "../layouts/Layout.astro";
import VideoThumb from "../components/VideoThumb.component.astro";
import Footer from "../components/Footer.component.astro";
import {WhatsappIcon} from "../components/icons.components"
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

---

<Layout>
	<main class="flex flex-col items-center w-full h-full relative px-14">
		<div class=" w-[45px] h-[45px] rounded-full fixed bottom-5 right-2"><a href="#whatsapp"><WhatsappIcon /></a> </div>
		<Hero/>
		<Menu>
			<NavMenu/>
		</Menu>
		<VideoThumb />
	</main>
	<Footer />
</Layout>
