---
import Footer from "../components/footer/Footer.component.astro";
import TopNav from "../components/TopNav.component.astro";
import Layout from "../layouts/Layout.astro";


---
<Layout>
	<main class="w-full flex flex-col items-center">
        <TopNav/>
        <div class="flex justify-center items-center w-full h-fit mb-32">
            <p class="text-secondary max-w-[600px] tracking-wide font-light">
                Privacy Policy Effective Date: Sep 12 2025 At Divina Gracia ('we','our', or 'us'), your privacy is very important to us. This Privacy
                Policy explains how we collect, use, and protect your personal
                information when you interact with our website. 1. Information We
                Collect When you use our website, we may collect the following personal
                information: Phone Number: If you provide your phone number to contact
                us or receive updates. Messages: Any messages you send to us through
                WhatsApp or our contact forms. 2. How We Use Your Information We use the
                information you provide to: Respond to your inquiries or messages via
                WhatsApp. Provide customer support and updates about our services.
                Improve our website and services. 3. Sharing Your Information We do not
                sell or rent your personal information to third parties. We may share
                your information only with: Service providers who help us operate our
                website or manage communications. Legal authorities if required by law.
                4. Data Security We implement reasonable measures to protect your
                personal information from unauthorized access, use, or disclosure.
                However, no method of online transmission is completely secure. 5. Your
                Rights You have the right to: Access, update, or delete your personal
                information. Opt-out of receiving messages from us at any time. 6.
                Contact Us If you have any questions about this Privacy Policy or your
                information, please contact us at: Email: dvinagracia0803@gmail.com
                WhatsApp: 8622203363
            </p>
        </div>
        <Footer  />

    </main>
</Layout>