---
import Footer from "../components/footer/Footer.component.astro";
import Layout from "../layouts/Layout.astro";
import StoryComponent from "../components/story/Story.component.astro";
import TextWithButton from "../components/TextWithButton.component.astro";
import { WhatsappIcon } from "../components/icons.components";
import Hero from "../components/hero/Hero.component.astro";
import TopNav from "../components/TopNav.component.astro";

---


<Layout>
    <main class="w-full h-full relative phone:px-1 tablet:px-14 flex flex-col items-center">
        <TopNav/>
		<StoryComponent />
	</main>
	<Footer />
</Layout>