

  <div class="w-full phone:h-fit tablet:h-[300px] font-extrabold text-[#204035] mt-20">
        <div class="w-full flex phone:flex-wrap tablet-sm:flex-nowrap justify-center gap-20 items-center self-center ">
            <div class="flex flex-col items-center">
                <img src="https://divina-gracia.nyc3.cdn.digitaloceanspaces.com/images/compressed/sourdough/cheddar-compressed.jpg" alt="" class="size-[200px] object-contain ">
                <p>Cheddar sourdough</p>
            </div>
             <div class="flex flex-col items-center">
                <img src="https://divina-gracia.nyc3.cdn.digitaloceanspaces.com/images/compressed/sourdough/raising-compressed.jpg" alt="" class="size-[200px] object-contain ">
                <p>Raising sourdough</p>
            </div>
             <div class="flex flex-col items-center">
                <img src="https://divina-gracia.nyc3.cdn.digitaloceanspaces.com/images/compressed/sourdough/grain-compressed.jpg" alt="" class="size-[200px] object-contain ">
                <p>Grain sourdough</p>
            </div>
        </div>
    </div>