---
import { WhatsappIcon } from "./icons.components";
import TopNav from "./TopNav.component.astro";
---


<header class="w-full tablet:h-svh phone:h-fit relative mb-10">
    <img class="w-[50%] absolute bottom-[-20%] z-0 hidden laptop-lg:block" src="https://divina-gracia.nyc3.cdn.digitaloceanspaces.com/images/burger2.png" >
    <nav class="w-full h-34 grid items-center">
         <img src="https://divina-gracia.nyc3.cdn.digitaloceanspaces.com/images/DivinaGracia(Beige).png" class="w-24 h-24" />
    </nav>
    <div class="flex max-[1300px]:flex-wrap tablet-sm:justify-center tablet-sm:items-center laptop-sm:items-start">
        <div class="relative flex flex-col items-center tablet-sm:block ">
            <p class="hero phone:text-[4.5rem] tablet-sm:text-[8rem] text-[#204035]">Burgers</p>
            <p class="phone:text-3xl phone:text-center tablet-sm:text-start mb-10 text-[#204035] z-10 w-full laptop-sm:w-[50%]">Where every bite brings us together</p>
            <div class="flex gap-5 z-10">
                <a href="#menu" class="bg-[#b4945a] rounded-lg w-[145px] h-[52px] p-3 shadow-lg text-[#204035] font-light flex items-center justify-center">See our menu</a>
                <a class="text-[#ede6ce] rounded-lg w-[175px] h-[52px] shadow-lg bg-[#204035] flex items-center font-light  justify-center gap-3">Get in touch
                    <WhatsappIcon />
                </a>
            </div>
        </div>

        <div class="w-full h-fit relative flex flex-col items-center">
            <img class="phone:w-[80%] w-[90%]" src="https://divina-gracia.nyc3.cdn.digitaloceanspaces.com/images/burger1.png" >
            <p class="phone:hidden tablet-sm:block laptop-sm:absolute right-[10%] bottom-12 text-[#204035]">From freshly baked breads and pastries to juicy, creative burgers made <br> with  quality ingredients — all crafted with care and delivered right to you.</p>
        </div>
    </div>
</header>

