---
import TopNav from "./TopNav.component.astro";
---

<div class="flex flex-col items-center max-w-[1200px] w-full h-lvh relative overflow-hidden ">
    <TopNav />
    <div class="w-fit p-0 relative">
        <p class="text-center">WELCOME TO</p>
        <h1
            class=" phone:text-4xl tablet:text-6xl laptop-sm:text-8xl w-fit font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-blacked to-secondary animate-show-up"
        >
            DIVINA GRACIA
        </h1>
    </div>
    <p class="tracking-widest mt-[50px]">Bakery and Burgers</p>
    <p
        class="max-w-[420px] mt-10 text-center leading-7 tracking-widest text-secondary"
    >
        From freshly baked breads and pastries to juicy, creative burgers made
        with quality ingredients — all crafted with care and delivered right to
        you.
    </p>
    <a href="#menu" class="bg-primary rounded-full p-3 w-[110px] mt-20 shadow-sm"
        >Our Menu</a
    >

</div>
