---
import { InstagramIcon, TiktokIcon } from "./icons.components";
---

<nav
    class="rounded-full w-full overflow-hidden max-w-[700px] mb-20"
>
    <ul class="flex gap-7 justify-center items-center w-full">
        <li class="h-fit flex items-center basis-4/6">
            <img src="https://divina-gracia.nyc3.cdn.digitaloceanspaces.com/images/DivinaGracia(Beige).png" class="w-20 h-20" />
        </li>
        <li class="h-fit "> <a href="https://www.instagram.com/divinagracianj/"><InstagramIcon /></a> </li>
         <li class="h-fit"> <a href="https://www.tiktok.com/@divinagracianj"><TiktokIcon /></a> </li>
    </ul>
</nav>


