

<div class="grid tablet:place-content-center phone:w-full h-fit gap-5 phone:mt-2 laptop-sm:mt-30">
    <div class="tablet-sm:rounded-2xl overflow-hidden relative z-0 col-span-full w-full"> 
        <video class="w-full h-full" autoplay  muted loop>
            <source src="https://divina-gracia.nyc3.cdn.digitaloceanspaces.com/videos/Untitled%20Project%20-%20HD%201080p.mov" type="video/mp4" />
        </video>
        <div class="w-full h-full text-end bg-blacked/30 absolute top-0 left-0 z-30 p-10 flex flex-col items-end justify-end">
            <div dir="rtl" class="flex flex-col gap-5">
                <p class="text-white phone:text-xl text-3xl font-bold">BBQ Cream Cheese Burger</p>
                <p class="phone:hidden tablet:block laptop-sm:max-w-[620px] text-white text-lg ">A handcrafted delight featuring a 156g juicy beef patty, topped with smooth cream cheese, our signature homemade BBQ sauce, fresh lettuce, and sweet caramelized onions, all served on a freshly baked artisanal bun</p>

            </div>
        </div>
    </div>
</div>