


    <div class="grid tablet:grid-cols-2 tablet:grid-rows-1 grid-cols-1  w-full place-items-center grid-rows-[var(--items-grid-rows-phone)]"> 
        <div class="w-full h-fit text-end phone:self-start laptop-sm:self-center">
            <div class="flex flex-col gap-5 ">
                <p class="hero phone:text-[4.5rem] tablet:text-[4rem] text-[#204035] tablet:text-start phone:text-center laptop-sm:w-full]">No seed oils.</p>
                <p class="titlep phone:text-2xl tablet:text-start phone:text-center text-[#204035] z-10 w-full laptop-sm:w-full ">
                  Every element is made in-house: brioche buns baked fresh for a soft, rich texture; hand-cut fries cooked in traditional beef tallow for deep, authentic flavor; and house-made sauces crafted with 100% avocado oil—no seed oils. Even our ketchup is made from scratch.
                </p>
                <p class="titlep phone:text-2xl tablet:text-start phone:text-center text-[#204035] z-10 w-full laptop-sm:w-full ">
                    This is fast food redefined — artisanal, clean, and unforgettable.
                </p>
            </div>
        </div>
        <img src="https://d28f3w0x9i80nq.cloudfront.net/restaurantImages/4228bcfa-1507-4e7e-a55b-c67a880f53a0/jalapeno1.jpg" class="phone:w-full tablet-sm:w-100 tablet:w-110 laptop-sm:w-145 bg-cover self-center place-content-center" alt="">
       
     
    </div>
