---
import ImageObserver from "../footer/LogoImg.component";
import { ShoppingCarIcon, WhatsappIcon } from "../icons.components";
import TextWithButton from "../TextWithButton.component.astro";
---

<section
    class="w-full h-fit rounded-2xl flex justify-center gap-0 "
>
    <div
        class="flex tablet-sm:flex-nowrap phone:flex-wrap justify-around phone:justify-center gap-15"
    >
        <div
            class="flex phone:items-center tablet-sm:items-end justify-center gap-2 w-fit relative"
        >
            <ImageObserver
                client:visible
                className="w-140 image-bg  bg-contain"
                id="img-sourdough"
                alt="sourdough bread"
                source="https://d28f3w0x9i80nq.cloudfront.net/restaurantImages/4228bcfa-1507-4e7e-a55b-c67a880f53a0/webimgcutbbq.png"
            />

            <svg height="600" class="z-10 absolute right-0 phone:w-full ">
                <mask id="smallMask">
                    <rect
                        y="-600"
                        rx="20"
                        ry="20"
                        class="rotate-180 animate-towel-up1 shadow-2xl detect-element rect1"
                        stroke-width="0"
                        fill="red"></rect>
                    <rect
                        y="-640"
                        rx="20"
                        ry="20"
                        class="animate-towel-up2 rotate-180 shadow-2xl detect-element rect2"
                        stroke-width="0"
                        fill="white"></rect>
                    <rect
                        y="-595"
                        rx="20"
                        ry="20"
                        class="animate-towel-up3 rotate-180 detect-element rect3"
                        stroke-width="0"
                        fill="white"></rect>
                </mask>

                Sorry, your browser does not support inline SVG.
            </svg>
        </div>
        <div class="phone:w-full tablet-sm:w-2/4 self-center">
            <TextWithButton
                link="https://order.toasttab.com/online/divina-gracia-cocina-artesanal-46-center-grove-rd-u-213"
                title="At Divina Gracia, we don't just make burgers — we craft them from the ground up with purpose, quality, and flavor in every detail."
                text="  Our menu blends Latin and American flavors, creating a unique experience where every bite feels both familiar and exciting — a place where everyone can find their perfect burger."
                textButton="Make your order now"
            >
                <ShoppingCarIcon />
            </TextWithButton>
        </div>
    </div>
  
</section>
